
.email_section_master{
width:100%;
height:210.79px;
background-color: #FAC710;
align-items: center;
justify-content: center;
display: flex;
}
.email_section_submaster{
    width: 90%;
    height:178.06px;
    border: 3px solid black;
    position: relative;

}
.email_section_text_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}
.black_background{
    width: 600px;
    position: absolute;
    right: 7px;
    top: 0.6rem;
    padding-right: 2rem;
    background-color: black;
    height: 10.1rem;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
}


/* the media query for 1024px screen  */



.email_input_button{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 2rem;
    gap: 1rem;
    top: 5.5rem;
}
.email_input{
    height: 40.78px;
    width: 32vw;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.subscribe_button{
    width: 8rem;
    height: 41.78px;
    background-color: inherit;
    border: 1px solid #FAC710;
    color: #fff;
    border-radius: 2px;
    outline: none;
}
.subscribe_button:hover{
    background-color: #FAC710;
    color: #000;

}
.email_section_text_only>p{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
line-height: 3px;
font-size: 18px;
}
@media(max-width: 1024px){
    .black_background{
        width: 480px;
    }
}


@media(max-width:768px){
    .black_background{
        width: 370px;
    }
    .email_input{
        width: 30vw;
    }
    .email_section_text_only>p{
        font-size: 15px;
    }
}

@media(max-width:600px){
    .black_background{
        width: 290px;
    }
    .email_input{
        width: 28vw;
    }
    .subscribe_button{
width: 5rem;
    }
    .email_section_text_only>p{
        font-size: 13px;
        font-weight: 500;
    }
}

@media(max-width:500px){
    .black_background{
        width: 200px;
    }
    .email_input{
        width: 25vw;
    }
    .subscribe_button{
        width: 4rem;
        font-size: 12px;
    }
    .email_section_text_only>p{
        font-size: 12px;
        font-weight: 500;
    }
}


@media(max-width:320px){
    .black_background{
        display: none;
    } 
    .subscribe_button{
       background-color: #000;
       border-radius: 5px;
       width: 5rem;
    }
    .email_input_button{
top: 8rem;
align-items: center;
display: flex;
bottom: 8px;
left: 1rem;
right: 10px;
    }
    .email_input{
        width: 51vw;
    }
    .email_section_text_only{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .email_section_text_only>p{
font-size: 14px;
line-height: 2px;
    }

}



